<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "aginova.phonegap.app"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Aginova Push</name>
<icon src="icon.png" width="20" />
<gap:splash src="splash.png" />
    <preference name="fullscreen" value="true" />

    <description>
        Aginova Push App 
    </description>
  <gap:plugin name="com.pushwoosh.plugins.pushwoosh" version="3.4.5" source="plugins.cordova.io" />
  
  <access origin="*"/> <!-- allow all pages, use for development -->
<access origin="*.pushwoosh.com"/> <!-- allow pushwoosh service -->
  
    <author href="http://www.aginova.com" email="arthur@aginova.com">
        Arthur Coutinho
    </author>

</widget>
